body {
  background-color: slategrey;
  font-family: 'Noto Sans', sans-serif;
  font-size: xx-large;
}
.header {
  display: flex;
  justify-content: center;
}

/* mode slider*/
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* end of slider css */

.selections {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.selection {
  font-size: 8rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 150ms;
}

.selection:hover{
  transform: scale(1.4);
}

.results {
  font-size: 1.5rem;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  color: rgb(63, 60, 60);
}

.result-score {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

.result-selection {
  opacity: .5;
}

.result-selection.winner {
  opacity: 1;
  font-size: 3rem;
}

body.game-over :not(.result-message) {
  opacity: 0.5;
}

.result-message {
  font-weight: 900;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center ;

}